In [2]:
from glob import glob

for csv in glob("../../data/crawled_jobs_????-??-??.csv"):
    print(csv)

../../data/crawled_jobs_2023-10-29.csv
../../data/crawled_jobs_2023-11-02.csv
../../data/crawled_jobs_2023-10-28.csv
../../data/crawled_jobs_2023-11-03.csv
../../data/crawled_jobs_2023-11-01.csv
../../data/crawled_jobs_2023-10-22.csv
../../data/crawled_jobs_2023-10-31.csv
../../data/crawled_jobs_2023-10-30.csv

In [3]:
import numpy as np
np.random.randn(1, 1)

array([[-0.19303182]])

In [4]:
glob("../../data/crawled_jobs_????-??-??.csv")[0]

'../../data/crawled_jobs_2023-10-29.csv'

In [3]:
import os 
from glob import glob

os.path.basename(glob("../../data/crawled_jobs_????-??-??.csv")[0])[-14:-4]

'2023-10-29'

In [21]:
import pandas as pd 
def get_daily_data(csv_path):
    # Number of job postings
    x = len(pd.read_csv(csv_path))
    # Date -- Parse it from filename
    fname = os.path.basename(csv_path)
    y = fname[-14:-4]
    return pd.DataFrame({
        "date": y,
        "n_postings": x
    })

In [25]:
# print(get_daily_data("../../data/crawled_jobs_2023-11-03.csv"))
pd.DataFrame(
    {
        "date": ["abc"],
        "n_postings": [999]
    }
)

  date  n_postings
0  abc         999

In [26]:
from pathlib import Path

Path("../../data/crawled_jobs_2023-10-28.csv").exists()

True

In [16]:
get_daily_data(csv_path="../../data/crawled_jobs_2023-10-28.csv")

                  date  n_postings
n_postings  2023-10-28         383

In [28]:
import random

# Your list of strings
original_list = ["apple", "banana", "cherry", "date", "fig", "grape"]

# Desired length of the new list
desired_length = 5

# Generate a new list with randomly picked strings
random_list = random.choices(original_list, k=desired_length)

print(random_list)

['grape', 'banana', 'grape', 'apple', 'apple']

In [29]:

DATA_JOB_TYPES = ["Data Scientist", "Data Engineer", "Data Analyst"]
random.choices(DATA_JOB_TYPES, k=100)

['Data Engineer',
 'Data Analyst',
 'Data Engineer',
 'Data Engineer',
 'Data Scientist',
 'Data Scientist',
 'Data Analyst',
 'Data Engineer',
 'Data Analyst',
 'Data Engineer',
 'Data Engineer',
 'Data Engineer',
 'Data Engineer',
 'Data Analyst',
 'Data Analyst',
 'Data Engineer',
 'Data Scientist',
 'Data Analyst',
 'Data Engineer',
 'Data Analyst',
 'Data Analyst',
 'Data Scientist',
 'Data Analyst',
 'Data Scientist',
 'Data Analyst',
 'Data Scientist',
 'Data Scientist',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Data Scientist',
 'Data Scientist',
 'Data Engineer',
 'Data Scientist',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Data Engineer',
 'Data Engineer',
 'Data Scientist',
 'Data Engineer',
 'Data Engineer',
 'Data Scientist',
 'Data Analyst',
 'Data Analyst',
 'Data Engineer',
 'Data Engineer',
 'Data Engineer',
 'Data Analyst',
 'Data Analyst',
 'Data Engineer',
 'Data Scientist',
 'Data Engineer',
 'Data Analyst',
 'Data Scientist',
 'Data Engineer',
 'Data Engineer',
 'Data Engineer',
 'Data Scientist',
 'Data Analyst',
 'Data Scientist',
 'Data Engineer',
 'Data Scientist',
 'Data Scientist',
 'Data Engineer',
 'Data Scientist',
 'Data Engineer',
 'Data Engineer',
 'Data Engineer',
 'Data Scientist',
 'Data Scientist',
 'Data Analyst',
 'Data Engineer',
 'Data Analyst',
 'Data Engineer',
 'Data Engineer',
 'Data Engineer',
 'Data Engineer',
 'Data Analyst',
 'Data Scientist',
 'Data Engineer',
 'Data Scientist',
 'Data Analyst',
 'Data Engineer',
 'Data Engineer',
 'Data Engineer',
 'Data Analyst',
 'Data Scientist',
 'Data Scientist',
 'Data Engineer',
 'Data Engineer',
 'Data Analyst',
 'Data Analyst',
 'Data Scientist',
 'Data Analyst',
 'Data Scientist']